**/node_modules
**/dist
**/.turbo
**/*.tsbuildinfo
.git
.github
.idea
.vscode
.cache
.local
.replit
artifacts/**/.replit-artifact
artifacts/**/public/.DS_Store
.DS_Store
npm-debug.log
yarn-error.log
pnpm-debug.log
data/
attached_assets/
